@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: 'Geist', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F7FB;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* Nav link hover effect */
.nav-link {
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease;
  color: #121212;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.3px;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #6E62E5;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #6E62E5;
  font-weight: 600;
}

.nav-link:hover::after {
  width: 100%;
}

/* Sign in button hover */
.sign-in-button {
  background-color: #6E62E5;
  color: white;
  border: none;
  padding: 12px 18px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 600;
}

.sign-in-button:hover {
  background-color: #584DC5;
}
@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/Aeonik-Bold.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}
.content-wrapper {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 1rem;
}
