.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff;
  padding: 30px;
  width: 400px;
  min-height: 400px;
  border-radius: 20px;
  font-family: system-ui, sans-serif;
}

.flexColumn > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: 0.2s ease-in-out;
}

.inputFormError {
  border: 1.5px solid #e63946;
  background-color: #fff0f0;
}

.input {
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 14px;
  color: #151717;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  border-radius: 6px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-family: 'inter', sans-serif;
  margin-top: 25px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to left,
    hsl(217, 33%, 16%) 0%,
    hsl(217, 33%, 32%) 8%,
    hsl(217, 33%, 32%) 92%,
    hsl(217, 33%, 16%) 100%
  );
}

.front {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px;
  font-size: 1.10rem;
  font-weight: 600;
  font-family: 'inter', sans-serif;
  color: white;
  background: hsl(217, 33%, 17%);
  border-radius: 8px;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.front span {
  user-select: none;
}

.p {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  color: #666666;
}

.p1 {
  text-align: center;
  font-family: 'aeonik', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #121212;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #151717;
}

.successMessage {
  background: #fff;
  color: #121212;
  border-radius: 16px;
  padding: 0.2rem;
  text-align: center;
  max-width: 400px;
  font-family: aeonik, sans-serif;
    font-weight: 500;
    font-size: 20px;
  margin: auto;
  animation: fadeIn 0.4s ease-in-out;
  position: relative;
}

.successMessage h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #2e1065;
}

.successMessage p {
  font-size: 1rem;
  color: #333;
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  background: white;
  border-radius: 16px;
  width: 400px;
  text-align: center;
}

.successContainer .lottieAnimation {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error {
  color: #e63946;
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
  transition: all 0.3s ease;
}