.footer {
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 3;
  width: 100%; 
  margin-top: 50px;
}

.footer .heart {
  color: #ff4d4d;
}
