.hero {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 6rem;
  text-align: center;
}

.heading {
  font-family: 'Aeonik', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #121212;
}

@media (min-width: 768px) {
  .heading {
    font-size: 4rem;
    letter-spacing: -0.8px;
  }
}

.subheading {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  color: #4b5563;
  margin-bottom: 3rem;
  font-weight: 500;
  letter-spacing: -0.4px;
}

/* Button Styles */
.pushable {
  position: relative;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(248deg 19.06% 57.44%);
  border-radius: 12px;
  filter: blur(3px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 12px;
  background: #6b5ef3;
  padding: 18px 48px;
  text-align: center;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

/* Shiny Text */
.btnShine {
  display: inline-block;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #f5f5f5 20%,
    #ffffff 40%,
    #a79eff 60%,
    #ffffff 80%,
    #d5d5d5 100%
  );
  background-size: 300% auto;
  background-position: 0 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  font-family: 'Aeonik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1.5px;
}

@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.bannerWrapper {
  margin-top: 3rem;
}

.banner {
  max-width: 100%;
  height: auto;
  margin-top: 45px;
}
/* Hero Section Container */
.heroWrapper {
  position: relative;
}

.circularWrapper {
  position: absolute;
  top: 2rem;
  right: 10rem;
  z-index: 10;
}

.button {
  cursor: pointer;
  border: none;
  background: #121212;
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
  transition:
    background 300ms,
    transform 200ms;
  font-weight: 600;
}

.button__text {
  position: absolute;
  inset: 0;
  animation: text-rotation 8s linear infinite;
}

.button__text span {
  position: absolute;
  transform: rotate(calc(19deg * var(--index)));
  inset: 7px;
}

.button__circle {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background: #fff;
  color: #121212;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon {
  width: 14px;
  height: 14px;
}

.button__iconCopy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover {
  background: #000;
  transform: scale(1.05);
}

.button:hover .button__icon {
  color: #000;
}

.button:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__iconCopy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}